<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Salon Vencanica</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />

    <link rel="shortcut icon" href="Images/_favicon.ico" type="image/x-icon" />
</head>

<body style="background: #999966">

    <div class="navbar navbar-inverse" role="navigation">
        <a class="navbar-brand" href="#">
            @Html.Action("Summary", "Cart");
            @Html.ActionLink("Pocetna strana", "Index", "Home");
        </a>
        <br/>
        <a class="navbar-brand" href="#">
            @Html.ActionLink("Logovanje Administratora", "Index", "Admin")
        </a>
    </div>

    <div class="row">

        <div id="categories" class="col-lg-3">
            @Html.Action("Menu", "Nav")
        </div>

        <div class="col-lg-7">
            @RenderBody()
        </div>

    </div>

  
</body>

</html>