@model SalonVencanica.Domain.Entities.ShippingDetails

@{
    ViewBag.Title = "Salon Vencanica: Korpa";
}

<h2>Poruci sad</h2>
<p>Molimo unesite vase podatke, vasi artikli ce biti poslati odmah!</p>

@using (Html.BeginForm())
{
    @Html.ValidationSummary()

    <h3>Posalji na</h3>


    <div class="form-group">
        <label>Ime:</label>
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    </div>

    <h3>Adresa</h3>
    
    <h3>Opcije</h3>
    
    foreach (var property in ViewData.ModelMetadata.Properties)
    {
        if (property.PropertyName != "Name" && property.PropertyName != "GiftWrap")
        {
            <div class="form-group">
                <label>@(property.DisplayName ?? property.PropertyName)</label>
                @Html.TextBox(property.PropertyName, null, new { @class = "form-control" })
            </div>
        }
    }

    <div class="checkbox">
        <label>
            @Html.EditorFor(x => x.GiftWrap)
            Ukrasno pakovanje
        </label>
    </div>

    <div class="text-center">
        <input class="btn btn-primary" type="submit" value="Zavrsite porudzbinu" />
    </div>




}

