@model SalonVencanica.WebUI.Models.CartIndexViewModel

<style>
    #cartTable td {vertical-align : middle;}
</style>

@{
    ViewBag.title = "Salon Vencanica: Vasa korpa";
}

<h2>Vasa korpa</h2>

<table id="caetTable" class="table">

    <thead>
        <tr>
            <th>Kolicina</th>
            <th>Artikal</th>
            <th>Slika</th>
            <th class="text-right">Cena</th>
            <th class="text-right">Ukupno</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var line in Model.Cart.Lines)
        {
        <tr>
            <td class="text-center">@line.Quantity</td>
            <td class="text-left">@line.Product.Name</td>
            <td>
                <img src="@Url.Content(line.Product.ImagePath)" height="60"/>
            </td>
            <td class="text-right">
                @line.Product.Price.ToString("c")
            </td>
            <td class="text-right">
                @((line.Quantity * line.Product.Price).ToString("c"))
            </td>
            <td>
                @using (Html.BeginForm("RemoveFromCart", "Cart"))
                {
                    @Html.Hidden("ProductId", line.Product.ProductId)
                    @Html.HiddenFor(x => x.ReturnUrl)
                    <input class="btn btn-sm btn-warning" type="submit" value="Ukloni" />
                }
            </td>
        </tr>
        }
    </tbody>

    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Total:</td>
            <td class="text-right">
                @Model.Cart.ComputeTotalValue().ToString("c");
            </td>
        </tr>
    </tfoot>
</table>

<div class="text-center">
    <a class="btn navbar-inverse" href="@Model.ReturnUrl">Nastavi kupovinu</a>
    @Html.ActionLink("Kupi sad", "Checkout", null, new { @class = "btn navbar-inverse" })
</div>